{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "GdevIsaacBundle::layout.html.twig" %}

{% block title %}
  Seeds - {{ parent() }}
{% endblock %}

{% block gdevisaac_body %}
    <h1>Seeds</h1>

    <!-- /.row -->

    <hr>

<h3>Ajouter une Seed</h3>


<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group">
      {# Génération du label. #}
        {{ form_label(form.code, "Code Seed :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.code) }}

        <div class="col-sm-4">
        {# Génération de l'input. #}
            {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {# Idem pour un autre champ. #}
    <div class="form-group">
        {{ form_label(form.description, "Description : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        {{ form_errors(form.code) }}
        <div class="col-sm-4">
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="col-sm-12">
        {% set number = 0 %}
        {% set key = 0 %}
        {% for item in 0..19 %}
            {% if number is divisible by(2) %}
                <div class="col-sm-3 seedAddItem">
                    <label>
                    <input type="radio" value="{{ attribute(tabFloor,key).0 }}" name="floor{{key}}" required checked="checked"> 
                    <i>{{ attribute(tabFloor,key).0}}</i>
                    </label>
                    <label>
                    <input type="radio" value="{{ attribute(tabFloor,key).1 }}" name="floor{{key}}" required> <i>{{ attribute(tabFloor,key).1 }}</i>
                    </label>
                    {# <br/> #}
                    {# <input type="checkbox" name="XL"> XL #}
                    <hr>
            {% endif %}
                <SELECT name="item{{number}}" size="1">
                    {% if key is not divisible by(2) %}
                        {# <OPTION value = "NO">Pas d'item (ou XL) #}
                    {% endif %}
                    {% for item in listItems %}
                        <OPTION value = {{ item.id }}>{{ item.name }}
                    {% endfor %}
                </SELECT>

            {% if number is divisible by(2) %}
                <hr>
            {% endif %}

            {% if number is not divisible by(2) %}
                </div>
                {% set key = key + 1 %}
            {% endif %}
            {% set number = number + 1 %}
        {% endfor %}
    </div>
    <br/><br/>

    <div class="text-center">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    {# Génération automatique des champs pas encore écrits.
       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
       et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>
</div>

<script>
    $("[name='my-checkbox']").bootstrapSwitch();
    // $('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
    //     if(state){
    //         $('.green').hide();
    //     } else {
    //         $('.green').show();
    //     }
    // });
</script>

{% endblock %}